if SHIELD_MTK64_R

config ZMK_KEYBOARD_NAME
    default "mtk64"

config ZMK_SPLIT
    default y

config ZMK_POINTING
    default y

endif

if SHIELD_MTK64_L

config ZMK_KEYBOARD_NAME
    default "mtk64"

config ZMK_SPLIT
    default y

endif

if SHIELD_MTK64_DONGLE

config ZMK_KEYBOARD_NAME
    default "mtk64"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_POINTING
    default y

config ZMK_BATTERY
    bool
    default y

endif

if SHIELD_MTK64_FOOT

config ZMK_KEYBOARD_NAME
    default "mtk64"

config ZMK_SPLIT
    default y

endif

if SHIELD_MTK64_LEFTBALL_L

config ZMK_KEYBOARD_NAME
    default "mtk64"

config ZMK_SPLIT
    default y

config ZMK_POINTING
    default y

endif

if SHIELD_MTK64_LEFTBALL_R

config ZMK_KEYBOARD_NAME
    default "mtk64"

config ZMK_SPLIT
    default y

endif

